<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<link rel="stylesheet" href="/static/blog/Home.css">
<body>
    <div class="father">
        <div class="left">
            <div class="contenter">

                <img src="/static/blog/dinosaur.png" alt="error" width="80" height="80">
                <p>PI-dal</p>
                <p>All science is either physics or the stamp collecting.</p>
                 <div class="list">
                        <div class="left-left">
                            <a href="">首页</a>
                            <a href="/分类/">分类</a>
                            <a href="">标签</a>
                            <a href="/图表/">图表</a>
                            <a href="">About</a>
                        </div>
                        <div class="left-right">
                            <a href="">友情链接</a>
                            <a href="">RSS</a>
                            <a href="https://github.com/kuxingseng1/djagno">Github</a>

                            <a href="https://stackoverflow.com/">Stack OVerflow</a>

                            <a style=" margin-top:6px"  href="/文件/">Twitter</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="right">
            <article class="post">

                <div class="post-header main-content-wrap text-left">
                    <h1 class="post-title">
                        About
                    </h1>
            </div>
            <div class="post-content markdown">
                <div class="main-content-wrap">
                    <p><em>我是一名<strong>大学生</strong>，热爱数学，新技术。平时，折腾技术，写写技术文章。也是个开源爱好者</em>😃😃😃</p>
                    <p>我现在学习<strong>Vue，react，django-rest-framework</strong>等技术。主要技能有：</p>
                    <ul>
                        <li>Python</li>
                        <li>HTML + CSS</li>
                        <li>Web</li>
                        <li>Javascript</li>
                        <li>爬虫</li>
                    </ul>
                    <blockquote>
                    <p><strong>人生苦短，我用Python</strong></p>
                    </blockquote>
                    <p>同时，我也学习了<strong>相对论，量子力学，电磁学</strong>等物理理论。热爱的公式：</p>
                    <ul>
                        <li>
                        <p style=""><img src="https://math.now.sh?from=E%3Dmc%5E2%0A"></p></li>
                        <li>
                        <p style=""><img src="https://math.now.sh?from=e%5E%7Bi%CF%80%7D%2B1%3D0%0A"></p></li>
                    </ul>
                    <blockquote>
                    <p><strong>All science is either physics or the stamp collecting.</strong></p>
                    </blockquote>
                    <h2 id="个性设置"><a class="header-anchor" href="#个性设置">¶</a>个性设置</h2>
                    <ul>
                        <li>终端：iTerm2+Oh my zsh(Mac)</li>
                        <li>开发环境：
                    <ul>
                        <li>VSCode+PyCharm</li>
                        <li>pyenv+python-latest</li>
                        <li>Poetry+pdm</li>
                    </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="post-footer" class="post-footer main-content-wrap">



    </div>
</article>
            </div>
    </div>
</body>
</html>