<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<link rel="stylesheet" href="/static/blog/home.css">
<body>
    <div class="father">
        <div class="left">
            <div class="contenter">
                
                <img src="/static/blog/dinosaur.png" alt="error" width="80" height="80">
                <p>PI-dal</p>
                <p>All science is either physics or the stamp collecting.</p>
                <div class="list">
                    <div class="left-left">
                        <a href="">首页</a>
                        <a href="">分类</a>
                        <a href="">标签</a>
                        <a href="/图表/">图表</a>
                        <a href="">About</a>
                    </div>
                    <div class="left-right">
                        <a href="">友情链接</a>
                        <a href="">RSS</a>
                        <a href="">Github</a>
                        <a href="">Stack OVerflow</a>

                        <a href="/文件/">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div>
                <div>
                    <h1 class="one">
                        Mac终端配置与常用命令行工具1
                    </h1>
                    <p style="color: #9eabb3;">
                        8月 06, 2020 发布在 技术
                    </p>
                   <a href="/test"><p style="color: black; padding-top: 2%;">高宽用百分比会导致在分辨率变小时高宽发生变化，<br> 此时字体大小等固定值是不变的，所以导致样式改变，<br>解决方法是最外层父元素固定高宽，内部子元素利用百分比布局，虽然这种方式会在分辨率改变时出现滚动条，<br>但是整体的样式不会改变 </p></a>
                </div>
                <div>
                    <h1>
                        Mac终端配置与常用命令行工具2
                    </h1>
                    <p style="color: #9eabb3;">
                        8月 06, 2020 发布在 技术
                    </p>
                    <img src="/static/blog/2.png" alt="error">
                </div>
                <div>
                    <h1>
                        Mac终端配置与常用命令行工具3
                    </h1>
                    <p style="color: #9eabb3;">
                        8月 06, 2020 发布在 技术
                    </p>
                    <img src="../image/2.png" alt="error">
                </div>
                <div>
                    <h1>
                        Mac终端配置与常用命令行工具4
                    </h1>
                    <p style="color: #9eabb3;">
                        8月 06, 2020 发布在 技术
                    </p>
                    <img src="../image/2.png" alt="error">
                </div>
                <div>
                    <h1>
                        Mac终端配置与常用命令行工具5
                    </h1>
                    <p style="color: #9eabb3;">
                        8月 06, 2020 发布在 技术
                    </p>
                    <img src="../image/2.png" alt="error">
                </div>
            </div>
        </div>
    </div>
</body>
</html>