<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章主页</title>
    <link rel="stylesheet" href="/static/blog/test.css">
    <link rel="stylesheet" href="/static/blog/public.css">

</head>
<body>
    <div>
        <div class="test">
            <h1>Test</h1>
            <h5>好句分享</h5>
        </div>
        

        <div  class="test">
            <h1>Test</h1>
            <h5>好歌曲分享</h5>
        </div>
    </div> 
    <a class="home" href="/home/">返回首页</a>
</body>
</html>