<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/留言.css">
<link rel="stylesheet" href="../css/public.css">
<body>
    <video id="v1" autoplay loop muted>
        <source src="../image/_4k_耗时两年_4k超清星空延时-星动中国.mp4" type="video/mp4">
    </video>    

    <div>
        <a href=""><p>上传文件</p></a>
    </div>
    <div>
        <a href=""><p>下载文件</p></a>
    </div>
    <a class="home" href="../Html/Home.html">返回首页</a>
</body>
</html>